@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variáveis */

:root {
  /* cores */
  --cor-principal: #570316;
  --cor-de-fundo: #fff1cc;
  --cor-3: #fae7c3;

  /* fontes */

  --fonte-1: "Noto Serif Display", serif;
  --fonte-2: "Bree Serif", serif;
  --fonte-3: "Poppins", sans-serif;
  --fonte-4: "Inria Serif", serif;
}

/* estilos para diversos */

.links-brancos a {
  color: white;
  text-decoration: none;
}
.links-brancos a:hover {
  border-bottom: 2px solid #ff751f;
}

nav {
  background-color: var(--cor-principal);
  height: 100px;
  display: flex;
  flex-flow: row;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.parte-cima {
  display: flex;
  flex-direction: row;
  font-family: var(--fonte-1);
}
.logo {
  /* border: 1px solid blue; */
  width: 60vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 15vw;
  height: 10vh;
  margin-left: 48px;
}

/* navegaçao */

.navegaçao {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 40px;
  font-size: 1.3rem;
}

.nav-inicio {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
}

.nav-cardapio {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
}

.nav-contatos {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
}

/* Header */

header {
  background-color: var(--cor-3);
  height: 70vh;
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

/* Parte do texto e direcionamento para cardápio  */

.apresentaçao-1 {
  /* border: 1px solid brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}

.apresentaçao-1-filho-1 h1 {
  font-family: var(--fonte-2);
  font-size: 4rem;
  text-align: center;
}

.apresentaçao-1-filho-1 h2 {
  font-family: var(--fonte-2);
  font-size: 2rem;
  text-align: center;
}

.apresentaçao-1-filho-2 {
  font-family: var(--fonte-3);
  font-size: 1.5rem;
  border: 1px solid var(--cor-principal);
  background-color: var(--cor-principal);
  border-radius: 40px;
  width: 15vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.apresentaçao-1-filho-2 a {
  padding-left: 30px;
  padding-right: 30px;
}

/* Parte da imagem da apresentação */

.apresentaçao-2 {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
}
.apresentaçao-2 img {
  width: 30vw;
  height: 60vh;
  margin-top: 5%;
}

/* MAIN */

.melhores-pratos {
  font-family: var(--fonte-4);
  background-color: var(--cor-de-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140vh;
}
.inicio-melhores-pratos {
  text-align: center;
  margin-top: 15%;
}
.inicio-melhores-pratos h2 {
  font-size: 5.5rem;
}

.inicio-melhores-pratos p {
  font-size: 2rem;
}

/* fotos das esfihas */

.fotos-esfihas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  margin-top: 10%;
}

.esfiha {
  height: 40vh;
  width: 18vw;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 25px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.esfiha img {
  width: 15vw;
  height: 30vh;
  border-radius: 10px;
  margin-top: 5%;
}

.valores-esfiha {
  margin-top: 5%;
  font-size: 2rem;
  background-color: var(--cor-3);
  border-radius: 5px;
  margin-left: 40%;
}

/* Segunda parte da section */

.qualidade {
  z-index: 0;
  margin-top: 100px;
  width: 100%;
  background-color: var(--cor-principal);
  display: flex;
  flex-direction: column;
}

.inicio-qualidade {
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 15%;
}
.inicio-qualidade h2 {
  font-size: 5rem;
}

.inicio-qualidade p {
  font-size: 2.5rem;
}
/* Fotos qualidade */

.fotos-qualidade {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  margin-top: 5%;
}

.fotos-qualidade-filho {
  height: 40vh;
  width: 18vw;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 25px;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.fotos-qualidade-filho img {
  width: 15vw;
  height: 30vh;
  border-radius: 10px;
  margin-top: 5%;
}

.descriçao-qualidade {
  margin-top: 5%;
  font-size: 2rem;
  background-color: var(--cor-3);
  border-radius: 5px;
  border-top: 2px solid brown;
}

/* Final da sessão */

.final-section {
  height: 30vh;
  background-color: var(--cor-de-fundo);
}

/* Aqui parte dos pedidos */

.peça-ja{
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 13rem;
  background-color: black;
  color: white;

}
.peça-ja-flho1{
color: white;
}